@font-face {
  font-family: 'Gobold';
  src: url('src/assets/fonts/Gobold-Thin.otf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Gobold';
  src: url('src/assets/fonts/Gobold-Thin-Italic.otf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Gobold Lowplus';
  src: url('src/assets/fonts/Gobold-Lowplus.otf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Gobold Lowplus';
  src: url('src/assets/fonts/Gobold-Lowplus-Italic.otf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Gobold Hollow';
  src: url('src/assets/fonts/Gobold-Hollow-Italic.otf') format('truetype');
}
@font-face {
  font-family: 'Gobold Cuts';
  src: url('src/assets/fonts/Gobold-Cuts-Italic.otf') format('truetype');
}





html, body, #root, #background {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root, #background {
  position: absolute;
  top: 0;
}

#background {
  z-index: -1;
  background-color: var(--bg-color-1);
}
.dark > #background > canvas {
  opacity: 0.5;
}
.light > #background > canvas {
  opacity: 0.3;
}

.container {
  padding: 0 8vw;
  height: 75vh;
  display: flex;
}





.custom-cursor {
  width: 20px;
  height: 20px;
  background-image: url('src/assets/pointer.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  pointer-events: none;
  z-index: 10;
}
.custom-cursor.active {
  filter: brightness(0.5);
}






.light {
  --text-color-1: black;
  --text-color-2: #2c2c2c;
  --second-color-1: #288;
  --second-color-2: #aff;
  --bg-color-1: white;
  --bg-color-2: #bbb;
  --tbg-color-1: rgba(255, 255, 255, 0.5);
  --tbg-color-2: rgba(0, 0, 0, 0.1);
}
.dark {
  --text-color-1: white;
  --text-color-2: #c2c2c2;
  --second-color-1: #aff;
  --second-color-2: #288;
  --bg-color-1: black;
  --bg-color-2: #222;
  --tbg-color-1: rgba(0, 0, 0, 0.5);
  --tbg-color-2: rgba(255, 255, 255, 0.1);
}

*:not(.custom-cursor) {
  color: var(--text-color-1);
  transition: 0.2s ease-in-out;
}






.info-bulle::after {
  content: attr(data-info);
  text-decoration: none;
  font-family: 'Gobold Lowplus';
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70px;
  white-space: nowrap;
  opacity: 0;
}
.info-bulle:hover::after {
  opacity: 1;
  transition: 0.2s ease-in-out;
  transition-delay: 500ms;
}





h1 {
  margin: 0;
  font-family: 'Gobold';
  font-style: italic;
  color: var(--text-color-1);
}
h2 {
  margin: 0;
  font-family: 'Gobold Hollow';
  font-weight: 100;
  color: var(--text-color-1);
}
h3 {
  font-family: 'Gobold Cuts';
  font-weight: 100;
  color: var(--text-color-1);
}
h4 {
  font-family: 'Gobold';
  font-weight: 100;
  color: var(--text-color-1);
}
h5 {
  font-family: 'Gobold Lowplus';
  font-weight: 100;
  font-style: italic;
  color: var(--text-color-1);
}
p {
  font-family: 'Gobold lowplus';
  text-align: justify;
  color: var(--text-color-1);
}