.column {
    width: 50%;
    height: 100%;
    align-content: center;
}

#column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0 5vw;
}



#nom {
    display: flex;
    flex-direction: column;
}

#nom h2 {
    position: relative;
    left: 50px;
    font-size: 120px;
}
#nom * {
    letter-spacing: normal;
    transition: 0.5s ease-in-out;
    font-size: 180px;
}

#nom *:hover {
    letter-spacing: 0.02em;
    transition: 0.5s ease-in-out;
}



#welcome {
    font-size: 2em;
}

#menu {
    width: 100%;
    max-width: 500px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.two-buttons {
    display: flex;
    gap: 20px;
}
.two-buttons > a {
    width: 100%;
}

#rsnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}
#rsnav > a {
    width: 60px;
    text-decoration: none;
    text-align: center;
    align-content: center;
    position: relative; /* Ajout pour le positionnement du span */
}
#rsnav > a > div {
    width: 60px;  
    height: 60px;
    border-radius: 50%;
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}
#rsnav > a > div > svg {
    height: 22px;
    fill: white;
    transition: 0.2s ease-in-out;
}
#rsnav > a > div:hover {
    background-color: rgba(255, 255 , 255, 0.1);
    transition: 0.2s ease-in-out;
}
#rsnav > a > div:hover > svg {
    fill: #aaffff;
}
