.column {
    width: 50%;
    height: 100%;
    align-content: center;
}

#column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0 5vw;
}



#nom {
    display: flex;
    flex-direction: column;
}

#nom h2 {
    position: relative;
    left: 0.35em;
    font-size: 1.6em;
}
#nom * {
    letter-spacing: normal;
    transition: 0.5s ease-in-out;
    font-size: 2.2em;
}

#nom *:hover {
    letter-spacing: 0.02em;
    transition: 0.5s ease-in-out;
}



#welcome {
    font-size: 2em;
}

#menu {
    width: 100%;
    max-width: 500px;
    align-self: center;
}

#menu > div {
    margin: 20px;
}

.flex {
    display: flex;
}

.button-double {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.button-double .button {
    width: 100%;
}