.column {
    width: 50%;
    height: 100%;
    align-content: center;
}
#column-left {
    width: 40%;
}
#column-left span {
    color: #aaffff;
}



#title {
    font-size: 30px;
}

#two-buttons {
    margin-top: 60px;
}