.btn {
  padding: 15px 30px;
  border: 3px solid var(--bg-color-2);
  background-color: var(--tbg-color-1);
  color: var(--text-color-1);
  font-family: 'Gobold';
  font-size: 1.2rem;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60px;
}
.btn:hover {
  border-color: var(--second-color-1);
  background: var(--bg-color-2);
}

.btn::before {
  content: '';
  border: solid var(--text-color-2);
  display: inline-block;
  padding: 3px;
  margin-right: 20px;
  margin-bottom: 2px;
  opacity: 0.5;
  rotate: -45deg;
  transition: all 0.2s ease-in-out;
}
.btn:hover::before {
  content: '';
  border: solid var(--second-color-1);
  background: var(--second-color-1);
  rotate: 135deg;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

