nav {
    height: 12vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
}

a {
    display: flex;
    justify-content: center;
    height: 100%;
    width: fit-content;
    align-content: center;
    color: var(--text-color);
    font-family: 'Gobold Thin';
    font-size: 1em;
    text-decoration: none;
}
a > p {
    width: fit-content;
    height: 100%;
    align-content: center;
    margin: 0;
}

a > p::after {
    content: '';
    position: relative;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(to right, #aaffff, white, #aaffff); /* !!! Couleurs !!! */
    transition: transform 0.25s ease-out;
    transform-origin: bottom right;
}
a > p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  animation: slide 10s ease-in-out infinite;
}
@keyframes slide {
    from {
        background-position: 0vw;
    }
    50% {
        background-position: 20vw;
    }
    to {
        background-position: 0vw;
    }
}

#btn-home {
    font-family: 'Gobold Cuts';
    font-size: 3em;
    margin: 0 20px;
    transition: all 0.2s ease-in-out;
}
#btn-home > p::after {
    display: none;
}
#btn-home:hover {
    scale: 1.05;
    transition: all 0.2s ease-in-out;
    color: #aaffff; /* !!! Couleurs !!! */
    cursor: pointer;
}
